<?xml version="1.0" encoding="ISO-8859-1"?>
<themes><!-- All Themes -->
	

<!-- DEMO 1  -->
<dima>
  <dataUrl>?theme=dima</dataUrl>
  <name>DimaSoon</name>
  <label>HTML5/CSS3</label>
  <color>#8e44ad</color>
  <dataPreview>img/preview/Dima.jpg</dataPreview>
  <Price>0</Price>
  <purchaseUrl>http://codecanyon.net/user/PixelDima</purchaseUrl>
  <temblitesUrl>http://pixeldima.com/theme/dima/</temblitesUrl>
  <rating>3</rating>
</dima>
<!-- !DEMO 1  -->

<!-- DEMO 2  -->
<target>
  <dataUrl>?theme=target</dataUrl>
  <name>TargetDima</name>
  <label>HTML5/CSS3</label>
  <color>#e74c3c</color>
  <dataPreview>img/preview/Target.jpg</dataPreview>
  <Price>0</Price>
  <purchaseUrl>http://pixeldima.com/portfolio-item/free-html5css3-coming-soon-page/</purchaseUrl>
  <temblitesUrl>http://pixeldima.com/theme/target/</temblitesUrl>
  <rating>4.5</rating>
</target>
<!-- !DEMO 2  -->


</themes>

