body {
    background: #eee;
    font-family: "Noto Sans Thai",sans-serif;
}

.hand{
    cursor:pointer;
}

.row {
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom:10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 7px;
    padding-right: 7px;
}

.mat-box {
    border-radius: 5px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
}

.one-line{
    overflow-x:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.image-box{
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.circle{
    border-radius:50%;
}

.z-depth-0 {
    box-shadow: none !important;
    border: none !important;
}

.z-depth {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.z-depth-1, .jumbotron,
.card,
.list-group,
.popover,
.dropdown-menu,
.pagination, .btn, .pager li a {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

    .z-depth-1-half, .media img, .btn:hover, .btn-secondary.active, .btn-secondary.dropdown-toggle, .btn-primary.active, .btn-default.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active, .pager li a:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

hr {
    border-color: #333;
}

.link-history-btn {
    margin: 0 5px;
    cursor: pointer;
    color:#333;
}

.link-history-btn:hover,
.link-history-btn:active,
.link-history-btn:focus,
.link-history-btn:last-child {
    color: #FF6D00;
    text-decoration:none;
}

.link-history-btn:first-child {
    margin-left:0;
}

.grey-bar {
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    background: #f0f0f0;
    padding: 5px 15px;
    border-top: none;
    position: relative;
}

.grey-bar-btn-group {
    position: absolute;
    right: 15px;
    top: 5px;
    bottom: 0;
}

.grey-bar-btn-group .grey-bar-btn {
    background-image: -webkit-linear-gradient(top,#fefefe,#f3f3f3);
    background-image: -moz-linear-gradient(top,#fefefe,#f3f3f3);
    display: inline-block;
    height: 20px;
    padding: 2px 10px;
    outline: 1px solid #ccc;
    margin-right: -3px;
    cursor: pointer;
}

.grey-bar-btn-group .grey-bar-btn:last-child {
    margin-right: 0;
}

.grey-bar-btn-group .grey-bar-btn:hover {
    border-color: #ccc;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.2);
    color: #222;
}

.grey-bar-btn-group .grey-bar-btn:active,
.grey-bar-btn-group .grey-bar-btn.active {
    background-color: #dfdfdf;
    background-image: -webkit-linear-gradient(top,#f0f0f0,#dfdfdf);
    background-image: -moz-linear-gradient(top,#f0f0f0,#dfdfdf);
    border-color: #ccc;
    box-shadow: inset 0px 1px 5px rgba(0,0,0,.3);
    color: #222;
}

.analysis-left {
    background: #FAFAFA;
    padding: 10px 0;
}

.analysis-left-menu {
    margin-bottom: 0;
    display: inline-block;
    padding: 5px 10px;
    color: #333;
    cursor:pointer;
}
.analysis-left-menu:hover{
    color:#F58512;
    text-decoration:none;
    background:#f7f7f7;
    font-weight:600;
}
.nav-desc {
    display: none;
}

.analysis-main-container {
    margin-top: 65px;
}

.analysis-left-toggle {
    display: none;
}
.analysis-left-group{
    border-bottom:1px solid #ccc;
    padding:0 10px;
    padding-bottom:5px;
    margin:10px 0;
}

@media (min-width:768px) {
    .analysis-left-group{
        background-image: -webkit-linear-gradient(top,#9da6b008,#cccccc96);
        background-image: -moz-linear-gradient(top,#9da6b008,#cccccc96);
        padding: 10px 15px;
        outline: 1px solid #ccc;
        border:none;
        margin:0;
    }

    .analysis-left-menu .fa {
        font-size: 16px;
        margin-right: 10px;
    }

    .analysis-left-toggle {
        display: block;
        position: fixed;
        width: 220px;
        bottom: 0;
        left: 0;
        padding: 15px;
        z-index: 100;
        text-align: right;
        background: #eee;
        cursor: pointer;
    }

    .analysis-left-toggle:hover {
        color: #F58512;
        background: #ddd;
    }

    .analysis-left {
        padding: 0;
        position: fixed;
        top: 51px;
        left: 0;
        bottom: 0;
        z-index: 99;
        margin-bottom: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border-radius: 0;
        width: 220px;
    }

    .analysis-right {
        padding-left: 235px;
    }

    .analysis-main-container {
        padding-right: 13px;
    }

    .analysis-left-menu {
        border-bottom: 1px solid #ddd;
        display: block;
        padding: 15px 20px;
    }

    .analysis-left-toggle-active .analysis-left,
    .analysis-left-toggle-active .analysis-left-toggle,
    .analysis-left-toggle-active .analysis-left-menu {
        width: 60px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .analysis-left-toggle-active  .analysis-left-group{
        display:none;
    }

    .analysis-left-toggle-active .analysis-right {
        padding-left: 75px;
    }

    .analysis-left-toggle-active .analysis-left .analysis-left-menu-desc {
        display: none;
    }

    .analysis-left-toggle-active .analysis-left-menu .fa {
        margin-right: 0;
    }

    .analysis-left-toggle-active .analysis-left-toggle .fa-chevron-left:before {
        content: "\f054";
    }

    .nav-desc {
        display: inline;
    }
}

.left-group {
    padding: 8px 10px;
    display: block;
}

.left-group .fa {
    color: #333;
    display: none;
    margin-top: 2px;
}

.left-group.active {
    background: #E0EFF6;
    text-decoration: none;
}

.left-group.active .fa {
    display: initial;
}

.table-right-data {
    width: 100%;
    table-layout: fixed;
    font-size: 85%;
    border-bottom: 1px solid #ddd;
}

    .table-right-data tr td,
    .table-right-data tr th {
        vertical-align: middle;
    }

    .table-right-data tr:first-child td,
    .table-right-data tr:first-child th {
        border-top: none;
        border-bottom: 1px solid #333;
        padding-bottom: 5px;
        padding-top: 0;
    }

    .table-right-data.table-striped > tbody > tr:nth-of-type(even) {
        background-color: #f9f9f9;
    }

    .table-right-data.table-striped > tbody > tr:nth-of-type(odd) {
        background-color: transparent;
    }

    .table-right-data .x-progress {
        display: inline-block;
        max-width: 100px;
        height: 14px;
        border-radius: 3px;
        background: #058DC7;
        margin-right: 5px;
        float: left;
        margin-top: 1px;
    }

 .jquery-datatable{
     display:none;
 }
.dataTables_wrapper input,
.dataTables_wrapper select{
    border-radius:3px;
    border:1px solid #ccc;
}
 .dataTables_wrapper{
     /*font-size:13px;*/
 }

 .require{
     border-left:2px solid #E65041;
 }

 textarea {
    resize: none;
    resize: none;
    overflow: hidden;
    min-height: 50px;
}
 .text-default{
    color:#575757!important;
}
.text-primary{
    color:#0085A1!important;
}
.text-success{
    color:#04AC9C!important;
}
.text-info{
    color:#35C8FF!important;
}
.text-warning{
    color:#F1C513!important;
}
.text-danger{
    color:#E65041!important;
}
.text-orange{
    color:#F58512!important;
}

.btn-primary {
    background: #0085A1;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #049dbd !important;
}

.btn-primary.active {
    background-color: #016a80 !important;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: rgba(0, 133, 161, 0.9);
    border-color: none;
}

.btn-default {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    color:#333;
}
.btn-default:hover, .btn-default:focus,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color:#333;
}

.btn-default.active {
    color:#333;
}

/*.btn-default {
    background: #575757;
}

.btn-default:hover, .btn-default:focus,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: #6d6c6c !important;
    color:#fff;
}

.btn-default.active {
    background-color: #4e4c4c !important;
    color:#fff;
}*/

.btn-success {
    background: #009688;
}

.btn-success:hover, .btn-success:focus {
    background-color: #04ac9c !important;
}

.btn-success.active {
    background-color: #038276 !important;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: rgba(0, 150, 136, 0.9);
    border-color: none;
}

.btn-info {
    background: #35c8ff;
}

.btn-info:hover, .btn-info:focus {
    background-color: #54d0ff !important;
}

.btn-info.active {
    background-color: #2eb1e2 !important;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: rgba(53, 200, 255, 0.9);
    border-color: none;
}


.btn-warning {
    background: #F1C513;
}

.btn-warning:hover, .btn-warning:focus {
    background-color: #ffd21c !important;
}

.btn-warning.active {
    background-color: #deb612 !important;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: rgba(241, 197, 19, 0.9);
    border-color: none;
}

.btn-danger {
    background: #E65041;
}

.btn-danger:hover, .btn-danger:focus {
    background-color: #fa5949 !important;
}

.btn-danger.active {
    background-color: #d0483b !important;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
    background-color: rgba(230, 80, 65, 0.9);
    border-color: none;
}

.slide-banner{
    margin-bottom:10px;
}

.sortable-table tbody tr {
    cursor: n-resize;
}
.sortable-table thead tr th{
    border-bottom:1px solid #333;
}
.sortable-table tfoot tr th{
    border-top:1px solid #333;
}
.ui-state-highlight {
    background: rgba(255, 193, 7, 0.2) !important;
    min-height: 50px;
}
.sortable-hide{
    border: 2px dashed #04AC9C;
}
.sortable-hide td{
    border: none!important;
}
.sortable-hide .sortable-hide-item{
    display: none;
}
.sortable-table-detail{
    padding:5px 10px;
    /*border:1px dashed #04AC9C;*/
}
.sortable-table >tbody>tr>td, 
.sortable-table >tbody>tr>th,
.sortable-table >tfoot>tr>td,
.sortable-table >tfoot>tr>th,
.sortable-table >thead>tr>td,
.sortable-table >thead>tr>th {
    /*border-top: 1px solid #04AC9C;*/
}

.analysis-left{
    overflow-y:auto;
    height: calc(100vh - 50px);
    padding-bottom: 50px;
    top:50px;
}
    
.analysis-left::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.19);
    background-color: #c0c0c03b;
    border-radius: 3px;
}
.analysis-left::-webkit-scrollbar
{
    width: 6px;
    background-color: #61616100;
    border-radius: 3px;
}
.analysis-left::-webkit-scrollbar-thumb
  {
    background-color: #61616161;
    border-radius: 3px;
}


